<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="pink">
    <a href="home">Home</a> |
    <a href="insert">Insert</a> |
    <a href="display">Display</a> |
    <h1>Insert Page</h1>

    <form method="post" action="save">
     Enter empid: <input type="text" name="idnm"><br><br>
     Enter empname: <input type="text" name="nam"><br><br>
     Enter designation: <input type="text" name="desg"><br><br>
     Enter salary: <input type="text" name="slr"><br><br>
     <input type="submit">
    </form>
    <hr>
    <p>www.compney.com</p>
</body>
</html>