<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="lightgreen">
    <a href="home">Home</a>
    <a href="about">About</a>
    <a href="service">Service</a>
    <a href="contact">Contact</a>
    <h1>Service Page</h1>
    <hr>
<table>
    <tr>
        <th>rollno</th>
        <th>name</th>
        <th>city</th>
        <th>fees</th>
    </tr>
    <% Data.forEach((key)=>{ %>
        <tr>
            <td><%= key.rollno %></td>
            <td><%= key.name %></td>
            <td><%= key.city %></td>
            <td><%= key.fees %></td>
        </tr>
        <% }) %>
</table>
    <p>www.mywebsite.com</p>
    
</body>
</html>